@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<script src="~/js/register.js"></script>

@if (User.Identity.IsAuthenticated)
{
    <style>
        #formRegister {
            margin-top: 50px;
        }

        #containerRegister {
            width: 45% !important;
        }
    </style>
}
<div class="d-flex flex-column justify-content-center w-100 h-100" id="formRegister">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div>
            <div class="container" id="containerRegister">
                <div class="left">
                    <div class="login">
                        <a aria-current="page" asp-area="" asp-controller="Home" asp-action="Index" style="color: unset; text-decoration: unset;">Idea</a>
                    </div>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div class="eula">Register - Create a new account</div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </div>
                <div class="right" style="height: 430px">
                    <svg viewBox="0 0 320 300">
                        <defs>
                            <linearGradient inkscape:collect="always"
                                            id="linearGradient"
                                            x1="13"
                                            y1="193.49992"
                                            x2="307"
                                            y2="193.49992"
                                            gradientUnits="userSpaceOnUse">
                                <stop style="stop-color:#ff00ff;"
                                      offset="0"
                                      id="stop876" />
                                <stop style="stop-color:#ff0000;"
                                      offset="1"
                                      id="stop878" />
                            </linearGradient>
                        </defs>
                    </svg>
                    <form id="account" method="post" class="form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div>
                            <label for="email" style="display: inline-block; float: left">Email</label>
                            <span style="display: inline-block; float: right" asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" style="margin-bottom: 20px;" />

                        <div>
                            <label for="password" style="display: inline-block; float: left">Password</label>
                            <span style="display: inline-block; float: right" asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" style="margin-bottom: 20px;" />

                        <div>
                            <label for="password" style="display: inline-block; float: left">ConfirmPassword</label>
                            <span style="display: inline-block; float: right" asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" style="margin-bottom: 20px;" />

                        <label for="department">Department</label>
                        <select asp-for="Input.Department" class="form-control" asp-items="ViewBag.Department" style="margin-bottom: 20px;"></select>

                        <input id="registerSubmit" type="submit" id="submit" value="Register" style="color: white">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}